<!-- Banner section ends -->

<section class="banner-container">
    <div class="container">
        <div class="col-md">
            <div class="banner">
                <img src="~/Contents/Images/cate1.png" alt="">
                <div class="content">
                    <h3>TP Hồ Chí Minh</h3>
                    <a href="#" class="btn">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="banner">
                <img src="~/Contents/Images/cate2.png" alt="">
                <div class="content">
                    <h3 style="color: #ffffff">Hà Nội</h3>
                    <a href="#" class="btn">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner section ends -->
