<section class="footer">
    <div class="container">
        <div class="col-md box">
            <h1>Giới thiệu</h1>
            <p>
                Chào mừng bạn đến với trang web tìm phòng trọ của chúng tôi! Đây là web cung cấp thông tin các loại phòng cho thuê được đang bởi chính người dùng. Nếu cần tìm 1 căn phòng ưng ý hãy dành thời gian ra lướt trang web này nhé
            </p>
        </div>


    </div>

    <div class="share">
        <a href="https://www.facebook.com/YenNhiPham9999/" class="fab fa-facebook-f"></a>
        <a href="https://github.com/phamnhi1604" class="fab fa-twitter"></a>
        @*<a href="https://www.pinterest.com/pn16423/" class="fab fa-pinterest"></a>*@
        <a href="#" class="fab fa-github"></a>
        <a href="https://www.instagram.com/pham_yen_nhi_1604/" class="fab fa-instagram"></a>
    </div>

    <div class="credit">
        © copyright 2024 by <span>Phạm Yến Nhi</span>
    </div>
</section>
