<!-- Header section starts -->

<header class="header">
    <a href="~/Contents/Images/ImgPost/def_img.jpg" class="logo"></a>
    <nav class="navbar">
        <ul>
            <li><a href="/">home</a></li>
            <li>
                <a href="#posts">Bài đăng</a>
                <ul>
                    @Html.Action("DanhMucPartial", "DanhMuc")
                </ul>
            </li>
            @*<li><a href="@Url.Action("BaiDangNoiBat","BaiDang",new { page = 1})">nổi bật</a></li>*@
            <li><a href="#">đánh giá</a></li>
            <li><a href="#contact">liên hệ</a></li>
            <li><a href="#">blogs</a></li>
        </ul>
    </nav>
    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="user-btn" class="fas fa-user"></div>
        @*<div id="search-btn" class="fas fa-search"></div>*@
        
        <!--<div id="heart-btn" class="fas fa-heart">-->
            @*@Html.Action("TotalPartial", "FavoriteProduct")*@
        <!--</div>-->
    </div>
   



    <div class="user-box" style="display:none">
        <div class="user-details">
            <div class="image-user">
                <img src="~/Contents/Images/UserImg.png" alt="Avatar" class="avatar">
            </div>
            <div class="user-infor">
                @*@Html.Action("RoleAndNamePartial", "Account")*@
                <h2 class="user-name">@Html.Action("RoleAndNamePartial", "Account")</h2>
                <p class="user-email">customer1@gmail.com</p>
                <p class="user-rank"></p>
            </div>
        </div>
        <div class="logout-box">
            <a class="user-information" id="user-information">Quản lý tài khoản</a>
            <button type="button" id="logoutButton" class="logout-button" href="">
                <i class="fas fa-sign-out-alt"></i>
                <span>Đăng xuất</span>
            </button>
        </div>
    </div>
    @*@Html.Action("GioHangPartial", "ShoppingCart")*@
    @*@Html.Action("FavoritePostPartial", "FavoritePost")*@
    
</header>

<!-- Header section ends -->
