
@model Web_PhongTro.Areas.NguoiChoThue.ViewModels.NguoiChoThueViewModel

<div class="form-group row">
    <label for="phone" class="col-md-12 col-form-label">Thông tin liên hệ</label>
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input id="ten_lien_he" type="text" name="ten_lien_he" class="form-control" readonly="readonly" required="" value="@Model.TenLienHe" data-msg-required="Tên liên hệ">

        </div>
    </div>
</div>
<div class="form-group row">
    <label for="phone" class="col-md-12 col-form-label">Điện thoại</label>
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input id="phone" type="number" name="phone" class="form-control" readonly="readonly" required="" value="@Model.SoDienThoai" data-msg-required="Số điện thoại">
        </div>
    </div>
</div>
