@model IEnumerable<Web_PhongTro.Models.DanhMuc>


@foreach (var item in Model) {
<li>
        <a href="@Url.Action("GetDsSanPhamByTenLoaiSpCha","SanPham")/?tenLoaiSpCha=@item.TenDanhMuc&page=1">@item.TenDanhMuc</a>
        <ul>
            @{var lst = ViewData[item.TenDanhMuc.ToString()];}
        </ul>
 </li>
}

