
<div class="link-danhmuc-container" style="width: 100%;">
    <ul class="link-danhmuc-list">
        <li>
            <a href="@Url.Action("GetDsBaiDangByDienTich", "BaiDang", new { minDienTich = (decimal?)null, maxDienTich = 20, page = 1 })">
                Dưới 20<span style="text-transform:lowercase">m</span><sup>2</sup>
            </a>
        </li>
        <li>
            <a href="@Url.Action("GetDsBaiDangByDienTich", "BaiDang", new { minDienTich = 20, maxDienTich = 30, page = 1 })">
                Từ 20 - 30<span style="text-transform:lowercase">m</span><sup>2</sup>
            </a>
        </li>
        <li>
            <a href="@Url.Action("GetDsBaiDangByDienTich", "BaiDang", new { minDienTich = 30, maxDienTich = 50, page = 1 })">
                Từ 30 - 50<span style="text-transform:lowercase">m</span><sup>2</sup>
            </a>
        </li>
        <li>
            <a href="@Url.Action("GetDsBaiDangByDienTich", "BaiDang", new { minDienTich = 50, maxDienTich = (decimal?)null, page = 1 })">
                Hơn 50<span style="text-transform:lowercase">m</span><sup>2</sup>
            </a>
        </li>
    </ul>
</div>


<style>
    .link-danhmuc-container {
    }

    .link-danhmuc-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột có chiều rộng bằng nhau */
        gap: 10px; /* Khoảng cách giữa các mục */
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

        .link-danhmuc-list li {
            margin-bottom: 8px;
        }

        .link-danhmuc-list a {
            text-decoration: none;
        }
</style>
