
<div id="frmTaoTK" class="frm-addAcc">
    <div class="close-btn">×</div>

    <div class="add-account">
        <form asp-action="addTKKDV" asp-controller="AdminHome" method="post">
            <div></div>
        </form>
    </div>
</div>
<script>





</script>
@section scriptsFooter {
    @*<script src="~/Areas/NguoiChoThue/Content/Script/ScriptPost.js"></script>*@
}
